.song__cards{
    margin-left: 20px;
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.song__card{
    height: 280px;
    width: 200px;
    background-color: #181818;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.song__card-image{
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    background: white;
}

.song__card-title{
    display: flex;
    justify-content: center;
    margin: 10px 0 7px;
    font-weight: 600;
    font-size: 14px;
    color: white;
    text-transform: capitalize;
}

.song__card-description{
    color: rgb(173, 171, 171);
    font-size: 13px;
}