.home__container{
    display: flex;
    height: 100vh;
}

.home__sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    background: #000;
}

.home__sidebar-logo__container{
    width: 100%;
    display: flex;
}

.home__sidebar-logo{
    width: 50%;
    margin: 30px auto;
}

.home__content{
    width: 75%;
    background: #191919;
}