.home__container{
    display: flex;
    height: 100vh;
}

.home__sidebar{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 50px;
    background: #000;
}

.home__sidebar-logo__container{
    width: 100%;
    display: flex;
}

.home__sidebar-logo{
    width: 50%;
    margin: 30px auto;
}

.home__content{
    width: 75%;
    background: #191919;
    
}

.home__sidebar-nav{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 45px;
}

.home__sidebar-nav-item-link{
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.home__sidebar-nav-item-link:hover{
    color: ghostwhite;
}
