<div class="home__container">
    <div class="home__sidebar">
        <div class="home__sidebar-logo__container">
            <img class="home__sidebar-logo" src="./assets/spotify_light.png" alt="logo">
        </div>

        <div class="home__sidebar-nav">
            <div class="home__sidebar-nav-item">
                <a href="" class="home__sidebar-nav-item-link">Home</a>
            </div>
            <div class="home__sidebar-nav-item">
                <a href="" class="home__sidebar-nav-item-link">Search</a>
            </div>
            <div class="home__sidebar-nav-item">
                <a href="" class="home__sidebar-nav-item-link">Library</a>
            </div>
        </div>
    </div>
    <div class="home__content">
        <app-top-nav></app-top-nav>
    </div>
</div>